# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
ENV/
env/

# Build and Packaging
build/
dist/
*.spec.bak
*.exe

# Android / Buildozer
.buildozer/
bin/
ATM_Banking_Project_Report.*

# Local Database
*.db
atm.db

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
typings/
